.footer {
    background-color: #373737;
    color: #FBFCFF;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #FBFCFF; /* White */
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    /* margin: 0 0 10px; */
}

.footer-links li {
    margin: 0;
}

.footer-links a {
    color: #FBFCFF; /* White */
    text-decoration: none;
    font-weight: light;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #d90f0f; 
}

.footer-social {
    display: flex;
    /* gap: 10px; */
}

.footer-social a {
    padding-right: 20px;
    padding-bottom: 20px;
    color: #FBFCFF; /* White */
    font-size: 1.2em;
    transition: color 0.3s;
    text-underline-offset: 3px;
}

.footer-social a:hover {
    color: #d90f0f; 
}

.footer h5{
    font-size: 12px;
}