body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffffff;
    color: #373737;
    margin: 0;
    padding: 0;
}

main {
    
    margin: 0 auto;
}

a {
    color: #d90f0f;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #d90f0f;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bio-title {
    margin: 40px 0;
}

.bio {
    margin: 10px auto;
    padding: 5px;
}

.image-container {
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
  }

.profile-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* CSS Styles for the Projects found in Portfolio Page */
.large-card {
    min-height: 400px;
}

.large-card .card-img-top {
    height: 250px; 
    object-fit: cover;
}

.large-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.large-card .card-title {
    font-size: 1.5rem; 
}

.large-card .btn {
    padding: 10px 20px; 
    font-size: 1rem; 
}


.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    text-align: center;
    margin-top: 10px;
}

.project .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.project:hover .links {
    opacity: 1;
}

.project .links a {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.live-demo {
    background-color: #d90f0f;
    color: white;
}

.live-demo:hover {
    background-color: #840101;
    color: white;
}

.github-repo {
    background-color: #2D5890;
    color: white;
}

.github-repo:hover {
    background-color: #96909b;
    color: white;
}

/* CSS Styles found in Resume Page */
.resumebtn {
    background-color: #d90f0f;
    color: white;
}

.downloadbtn {
    background-color: #d90f0f;
    color: white;
}

.employment-italic {
    font-style: italic;
}

.experience {
    margin-top: 20px;
}

aside {
    padding: 20px;
    background-color: #373737;
    border-radius: 5px;
}

aside h3 {
    margin-bottom: 10px;
    font-style: bold;
}

aside h4 {
    color: #d90f0f;
}

aside ul {
    list-style-type: none;
    padding-left: 0;
    color: white;
}

aside ul li {
    margin-bottom: 5px;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .row > div {
        margin-bottom: 20px;
    }
}

/* CSS Styles found in Contact Page */
.contact-form .form-label {
    font-weight: bold;
}

.contact-form .form-control {
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

.contact-form .error {
    margin-top: 0.25rem;
}

.btn-contact {
    background-color: #d90f0f;
    color: white;
    border: none;
    margin-top: 1rem;
}

.btn-contact:hover {
    background-color: #840101;
    color: white;
}